POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=replace-with-local-superuser-password
POSTGRES_DATABASE=aicontrolcenter

IDENTITY_DB_USER=identity_user
IDENTITY_DB_PASSWORD=replace-with-local-identity-password
CONTROLPLANE_DB_USER=controlplane_user
CONTROLPLANE_DB_PASSWORD=replace-with-local-controlplane-password
ORCHESTRATOR_DB_USER=orchestrator_user
ORCHESTRATOR_DB_PASSWORD=replace-with-local-orchestrator-password
INTEGRATIONS_DB_USER=integrations_user
INTEGRATIONS_DB_PASSWORD=replace-with-local-integrations-password

RABBITMQ_USER=aicontrolcenter
RABBITMQ_PASSWORD=replace-with-local-rabbitmq-password
